@import "tailwindcss";

@theme {
    /* surface */
    --color-paper: #fff9ea;

    /* text */
    --color-ink: #1e1c11;
    --color-muted: #57423e;

    /* accents */
    --color-accent: #6c1208;
    --color-border: #8a716d;

    /* states */
    --color-error: #ba1a1a;

    /* --- fonts --- */
    --font-display: var(--font-display);
    --font-mono: var(--font-mono);
}

@layer base {
    body {
        background-color: #f5f3fe;
    }

    h1 {
        font-size: 20px;
        line-height: 1.4;
        font-weight: bold;
        color: var(--color-gray-900);
    }

    button {
        cursor: pointer;
    }
}
